.color_face{
    color: rgba(24, 69, 214, 0.993);
    
}
.color_whatsapp{
    color: rgb(36, 221, 36);
}
.color_instragram{
   color: rgb(238, 54, 54);
}
.alineacion{
    display: flex;
    align-items: center;
    gap: 10px;
}