<div class="px-2 d-flex flex-column py-5 justify-content-center align-items-center">
    <h3 class="textoContenido titulo color_fuente_vinculo">Valores</h3>
    <div class="gap-2">
        <a href="https://www.facebook.com/profile.php?id=100089135466791&mibextid=ZbWKwL" class="color_fuente_vinculo alineacion textoContenido"><i class="bi bi-facebook color_face fs-4"></i>{{facebook}}</a>
        <a href="https://wa.me/message/AUROZPAPMSTBJ1" class="color_fuente_vinculo alineacion textoContenido"><i class="bi bi-whatsapp color_whatsapp fs-4"></i>{{whatsapp}}</a>
        <a class="color_fuente_vinculo alineacion textoContenido"><i class="bi bi-instagram color_instragram fs-4"></i>{{instagram}}</a>
    </div>
</div>
