<div class="container-fluid p-0 h-100 position-relative">
    <div class="m-0 p-0 w-100">
        <img src="../../assets/Imagenes/Principal.jpg" class="imagenPrincipal">
        <div class="imagenPrincipalCentrada">
            <img src="./assets/Imagenes/LogoPersonal.png" alt="" class="fondoLogo">
        </div>
    </div>
</div>
<section class="position-relative my-4 fondoObjetivo p-5">
    <div class="container d-md-flex gap-5 justify-content-center m-auto">
        <div class="container p-0 m-0 col d-flex align-items-center">
            <img src="../../assets/Imagenes/objetivo.jpg" alt="" class="d-block w-100 rounded ">
        </div>
        <div class="container p-0 my-3 col">
            <h2 class="text-center titulo">{{TituloObjetivo}}</h2>
            <div class="d-flex justify-content-center align-items-center my-3">
                <p class="textoContenido">{{ContenidoObjetivo}}</p>
            </div>
        </div>
    </div>
</section>
<div class="container d-sm-flex gap-5 m-auto my-3 position-relative">
    <div class="col">
        <h2 class="titulo">{{TituloMision}}</h2>
        <div>
            <p class="textoContenido">{{ContenidoMision}}</p>
        </div>
    </div>
    <div class="col">
        <h2 class="titulo">{{TituloVision}}</h2>
        <p class="textoContenido">{{ContenidoVision}}</p>
    </div>
</div>
<app-servicios-cards></app-servicios-cards>



