<section class="espacio_superior">
    <video autoplay muted preload="auto" loop class="w-100 mh-100 ">
        <source src="../../../assets/Videos/VideoPrograming1.mp4">
    </video>
    <div class="texto_encima w-50 ps-3">
        <div class="fondoLogo">
            <h2 class="titulo">{{Titulo_servicios}}</h2>
            <p class="textoContenido fs-3">{{Eslogan_servicio}}</p>
        </div>
    </div>
    <div class="container my-3">
        <div class="card mb-3 mw-100" >
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../../../assets/Imagenes/DesarrolloWeb.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title titulo">{{Titulo_DWeb}}</h5>
                  <p class="card-text textoContenido">{{Contenido_web}}</p>
                  <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                </div>
              </div>
            </div>
        </div>
        <div class="card mb-3 mw-100" >
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../../../assets/Imagenes/DesarrolloEscritorio.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title titulo">{{titulo_escritorio}}</h5>
                  <p class="card-text textoContenido">{{contenido_escritorio}}</p>
                  <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                </div>
              </div>
            </div>
        </div>
        <div class="card mb-3 mw-100" >
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../../../assets/Imagenes/AplicacionMovil.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title titulo">{{titulo_movil}}</h5>
                  <p class="card-text textoContenido">{{contenido_movil}}</p>
                  <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                </div>
              </div>
            </div>
        </div>
        <div class="card mb-3 mw-100" >
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../../../assets/Imagenes/SoporteTecnico.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title titulo">{{titulo_soporte}}</h5>
                  <p class="card-text textoContenido">{{contenido_soporte}}</p>
                  <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                </div>
              </div>
            </div>
        </div>
        <div class="card mb-3 mw-100" >
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../../../assets/Imagenes/Camaras.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title titulo">{{titulo_instala_camaras}}</h5>
                  <p class="card-text textoContenido">{{contenido_instala_camaras}}</p>
                  <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                </div>
              </div>
            </div>
        </div>
        <div class="card mb-3 mw-100" >
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../../../assets/Imagenes/AdminRedes.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title titulo">{{titulo_admin_red}}</h5>
                  <p class="card-text textoContenido">{{contenido_admin_red}}</p>
                  <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                </div>
              </div>
            </div>
        </div>
    </div>
</section>
