<footer class="bg-black">
    <div class="d-flex flex-column flex-md-row justify-content-center mt-auto h-auto align-items-center">
        <div class="col">
            <a href=""><img src="../../../assets/Imagenes/LogoPersonal.png" alt="" class="imagen_logo"></a>
        </div>
        <div class="col col-md-2">
            <app-redes-sociales></app-redes-sociales>
        </div>
        <div class="col">
            <app-valores></app-valores>
        </div>
    </div>
    <hr class="linea_separadora m-1">
    <cite class="d-flex justify-content-center p-0 m-0 align-items-center">&copy;Todos los derechos reservados 2023, &copy; Systems Dev~Rous</cite>
</footer>