<article class="container my-3 w-100 position-relative">
    <h2 class="text-center titulo">{{TituloServicios}}</h2>
    <div class="container d-flex row gap-3 py-4 justify-content-center">
        <div class="card text-end" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{TituloSistemaEsc}}</h5>
                <p class="card-text">{{ContenidoSistemaEsc}}</p>
                <a href="#" class="btn btn-primary">{{TituloBoton}}</a>
            </div>
        </div>
        <div class="card text-end" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{TituloSistemaWeb}}</h5>
                <p class="card-text">{{ContenidoSistemaWeb}}</p>
                <a href="#" class="btn btn-primary">{{TituloBoton}}</a>
            </div>
        </div>
        <div class="card text-end" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{TituloMovil}}</h5>
                <p class="card-text">{{ContenidoMovil}}</p>
                <a href="#" class="btn btn-primary">{{TituloBoton}}</a>
            </div>
        </div>
        <div class="card text-end" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{TituloSoporte}}</h5>
                <p class="card-text">{{ContenidoSoporte}}</p>
                <a href="#" class="btn btn-primary">{{TituloBoton}}</a>
            </div>
        </div>
        <div class="card text-end" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{TituloSeguridad}}</h5>
                <p class="card-text">{{ContenidoSeguridad}}</p>
                <a href="#" class="btn btn-primary">{{TituloBoton}}</a>
            </div>
        </div>
        <div class="card text-end" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{TituloRedes}}</h5>
                <p class="card-text">{{ContenidoAdminRed}}</p>
                <a href="#" class="btn btn-primary">{{TituloBoton}}</a>
            </div>
        </div>
    </div>
</article>