<div class="px-2 d-flex flex-column py-5  justify-content-center align-items-center">
    <h3 class="textoContenido titulo color_fuente_vinculo">Valores</h3>
    <ul>
        <li class="color_fuente_vinculo textoContenido">Innovación</li>
        <li class="color_fuente_vinculo textoContenido">Calidad</li>
        <li class="color_fuente_vinculo textoContenido">Orientación al cliente</li>
        <li class="color_fuente_vinculo textoContenido">Trabajo en equipo</li>
        <li class="color_fuente_vinculo textoContenido">Ética</li>
    </ul>
</div>
