<div class="container-fluid fondo_contacto d-flex flex-column align-items-center justify-content-center">
    <div class="tamaño_formulario">
        <h2 class="color_fuente_vinculo titulo">Solicitud de Servicio</h2>
        <form action="" class="position-relative">
            <div class="d-flex flex-column gap-2 mb-2">
                <label for="Nombre" class="label-form color_fuente_vinculo textoContenido">Nombre/s:</label>
                <input type="text" class="form-control" placeholder="Ingresa tu nombre">
            </div>
            <div class="d-flex flex-column gap-2 mb-2">
                <label for="Nombre" class="label-form color_fuente_vinculo textoContenido">Apellido/s:</label>
                <input type="text" class="form-control" placeholder="Ingresa tus apellidos">
            </div>
            <div class="d-flex flex-column gap-2 mb-2">
                <label for="Nombre" class="label-form color_fuente_vinculo textoContenido">¿Para que será implementado?:</label>
                <select name="implementacion" id="" class="form-select">
                    <option value="">Selecciona</option>
                    <option value="Personal">Uso Personal</option>
                    <option value="Microempresa">Micro-Empresa (Negocios pequeños)</option>
                    <option value="Macroempresa">Macro-Empresa (Negocios grandes)</option>
                </select>
            </div>
            <div class="d-flex flex-column gap-2 mb-2">
                <label for="Nombre" class="label-form color_fuente_vinculo textoContenido">¿Tipo de servicio?:</label>
                <select name="implementacion" id="" class="form-select">
                    <option value="">Selecciona</option>
                    <option value="web">Desarrollo Web</option>
                    <option value="escritorio">Desarrollo de Escritorio</option>
                    <option value="movil">Desarrollo Móvil</option>
                    <option value="soporte">Soporte Técnico</option>
                    <option value="Administracionred">Administracion de Redes</option>
                    <option value="instalacioncamara">Instalación de Sistema de Vigilancia</option>
                    <option value="mantenimientocamara">Mantenimiento de Sistema de Vigilancia</option>
                </select>
            </div>
            <div class="d-flex flex-column gap-2 mb-2">
                <label for="Nombre" class="label-form color_fuente_vinculo textoContenido">Descripción:</label>
                <textarea name="descripcion" id="" cols="25" rows="10" placeholder="Mencioname un poco de lo que quieres hacer..." class="form-control"></textarea>
            </div>
            <div class="d-flex gap-3">
                <button type="submit" class="btn btn-success w-25">Enviar</button>
                <button type="reset" class="btn btn-warning w-25">Limpiar</button>
            </div>
        </form>
    </div>
</div>

